.TodoInput {
    height: 40px;
    border: 0;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    border-radius: 3px;
    padding: 3px 7px;
    font-size: 24px;
    height: 40px;
    outline: 0;
    margin-bottom: 20px;
}
